#web-div{
background-color: white;    
border: solid;
border-width: 10px;
border-radius: 15px;

}*{
    margin:0px;
    padding:0px;
    font-family: 'Bodoni 72', sans-serif;
    box-sizing: border-box;
   
    
}

#logo-div{
    width: 100%;
    min-height:50px;
    line-height:50px; 
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 23%;
    display: inline-block;
   
}

#header-div{
    width: 15%;
    height: 50px;
    background-color:  white;
    color: black;
    line-height:25px;
    text-align: center;
    margin-bottom: 5px; 
    margin-top: 150px;
    margin-left: 42.5%;
    margin-right: 45%;
    display: inline-block;
    padding-top: 12px;
    
}

#break-div{
height: 500px;  
width: 100%;
display: inline-block;
}
a:link{
    text-decoration: none;
}
h2{
background-color: #FFF59E;
height: 50px;
margin-bottom: 25px;
display: inline-block;
padding-top: 12px;
border: solid;
border-radius: 15px;
border-color: #FFF59E;
}
h3{
    background-color: #FFF59E;
    height: 50px;
    margin-bottom: 25px;
    display: inline-block;
    padding-top: 12px;
    border: solid;
    border-radius: 15px;
    border-color: #FFF59E;
    margin-right: 80%;
    }
#box1-div{

width: 100%;
height: 400px;
display: inline-block;
line-height: 125px;

}
#box2-div{

    width: 100%;
    height: 400px;
    display: inline-block;
    line-height: 125px;
    
    
    }
#box3-div{  
   width: 100%;
   height: 400px;
   
}

#p1-div{
    
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    border: solid;
    border-radius: 15px;
    display: inline-block;
}
#p2-div{

margin-left: 15px;
margin-right: 15px;


}
#p3-div{
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
    margin-left: 26%;
    margin-right: 25px;
    background-color: white;
    border: solid;
    border-radius: 300px;
    display: inline-block;
    background-color: white(160, 28, 28);

}
body
{
    background-image: url("schoolback.png");
    height: 100%;
    background-color: #FFF59E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
hr{
   margin-bottom: 10px;
   background-color: black;
}
table{
    align-content:center;
}
th{
    font-size: larger;
}