*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#main1-div{
    
    margin-bottom: 10px;
}

#logo-div{
    width: 100%;
    background-color: grey;
    min-height:50px;
    line-height:50px;
    float: center;
    text-align: center;
    margin-bottom: 10px;
}

#nav-div{
    width: 100%;
    background-color: lightgray;
    min-height:50px;
    line-height:50px;
    text-align: left;
}

#header-div{
    width: 100%;
    background-color: lightgray;
    line-height:25px;
    text-align: left;
    margin-bottom: 5px;
}

#textarea-div{
    width: 100%;
    background-color: lightgray;
    min-height: 80px;
    line-height:80px;
    text-align: center;
    margin-bottom: 10px;
}

#main2-div{
    width: 100%;
    margin-bottom: 10px;
}

#Box1-div{
    width: 31%;
    min-height: 400px;
    line-height: 400px;
    text-align: center;
    background-color: white;
    float: left;
    border-radius: 10%;
}

#Box2-div{
    width: 31%;
    min-height: 400px;
    line-height: 400px;
    text-align: center;
    background-color: palegoldenrod;
    float: left;
    margin-left: 5%;
    border-radius: 10%;
    height: 450px;
} 

#Box3-div{
    width: 31%;
    min-height: 400px;
    line-height: 400px;
    text-align: center;
    background-color: palegoldenrod;
    float: right;
    border-radius: 10%;
    height: 450px;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

#footer-div{
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    text-align: left;
    background-color: white;
    font-size: smaller;
}
#side1-div{
    width: 100%;
    margin-bottom: 10px;
    color: black;
    border-radius: 10%;
   
}